@charset "UTF-8";
    @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

    * {
      box-sizing: border-box;
    }

    :root {
      --app-container: #f3f6fd;
      --main-color: #1f1c2e;
      --secondary-color: #4A4A4A;
      --link-color: #1f1c2e;
      --link-color-hover: #c3cff4;
      --link-color-active: #fff;
      --link-color-active-bg: #1f1c2e;
      --projects-section: #fff;
      --message-box-hover: #fafcff;
      --message-box-border: #e9ebf0;
      --more-list-bg: #fff;
      --more-list-bg-hover: #f6fbff;
      --more-list-shadow: rgba(209, 209, 209, 0.4);
      --button-bg: #1f1c24;
      --search-area-bg: #fff;
      --star: #1ff1c2e;
      --message-btn: #fff;
    }

    .dark:root {
      --app-container: #1f1d2b;
      --app-container: #111827;
      --main-color: #fff;
      --secondary-color: rgba(255, 255, 255, .8);
      --projects-section: #1f2937;
      --link-color: rgba(255, 255, 255, .8);
      --link-color-hover: rgba(195, 207, 244, 0.1);
      --link-color-active-bg: rgba(195, 207, 244, 0.2);
      --button-bg: #1f2937;
      --search-area-bg: #1f2937;
      --message-box-hover: #243244;
      --message-box-border: rgba(255, 255, 255, .1);
      --star: #ffd92c;
      --light-font: rgba(255, 255, 255, .8);
      --more-list-bg: #2f3142;
      --more-list-bg-hover: rgba(195, 207, 244, 0.1);
      --more-list-shadow: rgba(195, 207, 244, 0.1);
      --message-btn: rgba(195, 207, 244, 0.1);
    }

    html,
    body {
      width: 100%;
      height: 100vh;
      margin: 0;
    }

    body {
      font-family: "DM Sans", sans-serif;
      overflow: hidden;
      display: flex;
      justify-content: center;
      background-color: var(--app-container);
    }

    .app-container {
      width: 100%;
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: var(--app-container);
      transition: 0.2s;
      max-width: 1800px;
    }

    .app-content {
      display: flex;
      height: 100%;
      overflow: hidden;
      padding: 16px 24px 24px 0;
    }

    .mode-switch {
      background-color: transparent;
      border: none;
      padding: 0;
      color: var(--main-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-btn {
      padding: 0;
      border: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-left: 12px;
      border-left: 2px solid #ddd;
    }

    .profile-btn img {
      width: 40px;
      height: 40px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 4px;
    }

    .profile-btn span {
      color: var(--main-color);
      font-size: 30px;
      line-height: 24px;
      font-weight: 700;
    }
    
    .profile-btn {
      padding: 0;
      border: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-left: 12px;
      border-left: 2px solid #ddd;
    }

    .app-sidebar {
      padding: 40px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .app-sidebar-link {
      color: var(--main-color);
      color: var(--link-color);
      margin: 16px 0;
      transition: 0.2s;
      border-radius: 50%;
      flex-shrink: 0;
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .app-sidebar-link.active {
      background-color: var(--link-color-active-bg);
      color: var(--link-color-active);
    }

    .projects-section {
      flex: 2;
      background-color: var(--projects-section);
      border-radius: 32px;
      padding: 32px 32px 0 32px;
      overflow: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .projects-section-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 32px;
    }

    .projects-section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      color: var(--main-color);
    }

    .projects-section-header p {
      font-size: 35px;
      line-height: 32px;
      font-weight: 700;
      opacity: 0.9;
      margin: 0;
      color: var(--main-color);
    }

    .projects-section-header .time {
      font-size: 30px;
    }

    .projects-status {
      display: flex;
    }

    .item-status {
      display: flex;
      flex-direction: column;
      margin-right: 16px;
    }

    .item-status:not(:last-child) .status-type:after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translatey(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid var(--secondary-color);
    }

    .status-number {
      font-size: 30px;
      line-height: 32px;
      font-weight: 700;
      color: var(--main-color);
    }

    .status-type {
      position: relative;
      font-size: 30px;
      padding-right: 24px;
      color: var(--secondary-color);
    }

    .view-actions {
      display: flex;
      align-items: center;
    }

    .view-btn {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      border-radius: 4px;
      background-color: transparent;
      border: none;
      color: var(--main-color);
      margin-left: 8px;
      transition: 0.2s;
    }

    .view-btn.active {
      background-color: var(--link-color-active-bg);
      color: var(--link-color-active);
    }

    .messages-section {
      flex-shrink: 0;
      padding-bottom: 32px;
      background-color: var(--projects-section);
      margin-left: 24px;
      flex: 1;
      width: 100%;
      border-radius: 30px;
      position: relative;
      overflow: auto;
      transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    }

    .messages-section .messages-close {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 3;
      border: none;
      background-color: transparent;
      color: var(--main-color);
      display: none;
    }

    .messages-section.show {
      transform: translateX(0);
      opacity: 1;
      margin-left: 0;
    }

    .messages-section .projects-section-header {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 32px 24px 0 24px;
      background-color: var(--projects-section);
    }

    .message-box {
      border-top: 1px solid var(--message-box-border);
      padding: 16px;
      display: flex;
      align-items: flex-start;
      width: 100%;
    }

    .message-box img {
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 5;
      height: 40px;
    }

    .message-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .message-header .name {
      font-size: 30px;
      line-height: 24px;
      font-weight: 700;
      color: var(--main-color);
      margin: 0;
    }

    .message-content {
      padding-left: 16px;
      width: 100%;
    }

    .star-checkbox input {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }

    .star-checkbox label {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .dark .star-checkbox {
      color: var(--secondary-color);
    }

    .dark .star-checkbox input:checked+label {
      color: var(--star);
    }

    .star-checkbox input:checked+label svg {
      fill: var(--star);
      transition: 0.2s;
    }

    .message-line {
      font-size: 30px;
      line-height: 35px;
      margin: 8px 0;
      color: var(--secondary-color);
      opacity: 0.7;
    }

    .message-line.time {
      text-align: right;
      margin-bottom: 0;
    }

    .project-boxes {
      margin: 0 -8px;
      overflow-y: auto;
    }

    .project-boxes.jsGridView {
      display: flex;
      flex-wrap: wrap;
    }

    .project-boxes.jsGridView .project-box-wrapper {
      width: 33.3%;
    }

    .project-boxes.jsListView .project-box {
      display: flex;
      border-radius: 10px;
      position: relative;
    }

    .project-boxes.jsListView .project-box>* {
      margin-right: 24px;
    }

    .project-boxes.jsListView .more-wrapper {
      position: absolute;
      right: 16px;
      top: 16px;
    }

    .project-boxes.jsListView .project-box-content-header {
      order: 1;
      max-width: 120px;
    }

    .project-boxes.jsListView .project-box-header {
      order: 2;
    }

    .project-boxes.jsListView .project-box-footer {
      order: 3;
      padding-top: 0;
      flex-direction: column;
      justify-content: flex-start;
    }

    .project-boxes.jsListView .project-box-footer:after {
      display: none;
    }

    .project-boxes.jsListView .participants {
      margin-bottom: 8px;
    }

    .project-boxes.jsListView .project-box-content-header p {
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .project-boxes.jsListView .project-box-header>span {
      position: absolute;
      bottom: 16px;
      left: 16px;
      font-size: 30px;
    }

    .project-boxes.jsListView .box-progress-wrapper {
      order: 3;
      flex: 1;
    }

    .project-box {
      --main-color-card: #dbf6fd;
      border-radius: 30px;
      padding: 16px;
      background-color: var(--main-color-card);
    }

    .project-box-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      color: var(--main-color);
    }

    .project-box-header span {
      color: #4A4A4A;
      opacity: 0.7;
      font-size: 30px;
      line-height: 40px;
    }

    .project-box-content-header {
      text-align: center;
      margin-bottom: 16px;
    }

    .project-box-content-header p {
      margin: 0;
    }

    .project-box-wrapper {
      padding: 8px;
      transition: 0.2s;
    }

    .project-btn-more {
      padding: 0;
      height: 14px;
      width: 24px;
      height: 24px;
      position: relative;
      background-color: transparent;
      border: none;
      flex-shrink: 0;
      /*&:after, &:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: .8;
    left: 50%;
    transform: translatex(-50%);
  }

  &:before { top: 0;}
  &:after { bottom: 0; }*/
    }

    .more-wrapper {
      position: relative;
    }

    .box-content-header {
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
      opacity: 0.7;
    }

    .box-content-subheader {
      font-size: 30px;
      line-height: 40px;
      opacity: 0.7;
    }

    .project-box-footer {
      display: flex;
      justify-content: flex-start;
      padding-top: 16px;
      position: relative;
    }

    .project-box-footer:after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      width: calc(100% + 32px);
      top: 0;
      left: -16px;
      height: 1px;
    }

    .participants {
      display: flex;
      align-items: center;
    }

    .participants img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      overflow: hidden;
      -o-object-fit: cover;
      object-fit: cover;
    }

    .participants img:not(:first-child) {
      margin-left: -8px;
    }

    .add-participant {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
      background-color: rgba(255, 255, 255, 0.6);
      margin-left: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .days-left {
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 30px;
      border-radius: 20px;
      flex-shrink: 0;
      padding: 6px 16px;
      margin: 5px;
      font-weight: 700;
    }

    .mode-switch.active .moon {
      fill: var(--main-color);
    }